.row {
    display: flex;
    border: 1px;
}
.column {
    flex: 50%;
    border: 1px;
    border-style: double;
    padding: 5px;
}
.score{
    min-height: 400px;
}
.action-buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 20px;
}
.button{
    padding: 15px 20px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
}